worker_processes 1;
daemon off;

error_log   logs/error.log  warn;
events {
    worker_connections 1024;
}

http {
    include       mime.types;
    default_type  application/octet-stream;
    client_max_body_size 1m;

    sendfile on;

    gzip on;
    gzip_disable "msie6";

    fastcgi_buffer_size 8k;
    fastcgi_buffers     8 8k;

    log_format iso8601 '$remote_addr - $remote_user [$time_iso8601] '
                       '"$request" $status $body_bytes_sent '
                       '"$http_referer" "$http_user_agent"';

    access_log logs/access.log iso8601;

    ssl_protocols TLSv1 TLSv1.1 TLSv1.2;
    ssl_prefer_server_ciphers on;
    ssl_ciphers "EECDH+ECDSA+AESGCM EECDH+aRSA+AESGCM EECDH+ECDSA+SHA384 EECDH+ECDSA+SHA256 EECDH+aRSA+SHA384 EECDH+aRSA+SHA256 EECDH+aRSA+RC4 EECDH EDH+aRSA RC4 !aNULL !eNULL !LOW !3DES !MD5 !EXP !PSK !SRP !DSS !RC4";

    # enable SSL session caching
    ssl_session_cache shared:SSL:20m;
    ssl_session_timeout 10m;
    ssl_dhparam ${NGINX_DHPARAM};

    # exch rate service
    upstream app {
        server app:4568;
    }

    server {
        server_name ${NGINX_HOST};

        listen 80;
        listen [${IPV6}]:80;

        listen 443 ssl http2;
        listen [${IPV6}]:443 ssl http2;

        ssl_certificate      ${NGINX_SSL_CERT};
        ssl_certificate_key  ${NGINX_SSL_KEY};

        access_log  logs/access.log iso8601;

        location / {
            proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
            proxy_set_header Host $http_host;
            proxy_redirect off;
            proxy_pass http://app;
        }
    }

}
